In [17]:
import glob
import pandas as pd
import os

In [23]:
path='../../../Users/sreek/Documents/wer_ai/namesbystate/'
all_files=glob.glob(os.path.join(path,"*.txt"))

In [24]:
combined_data=pd.concat((pd.read_csv(f,header=None) for f in all_files))

# Please describe the format of the data files. Can you identify any  limitations or distortions of the data?

Data set is comma seperated text files. first column is state , second gender , third year , fourth name and fifth is the count 
of times that name appeared in that state

Count of names in a state appears to be filtered to include only names which appear more than or equal to 5 times , names which 
are rarely used have been filtered out.

In [57]:
combined_data[combined_data[4]<=5]

        0  1     2          3  4
7      AK  F  1910    Dorothy  5
22     AK  F  1912      Alice  5
23     AK  F  1912     Esther  5
24     AK  F  1912      Ethel  5
25     AK  F  1912   Margaret  5
26     AK  F  1912      Marie  5
31     AK  F  1913      Alice  5
32     AK  F  1913      Annie  5
33     AK  F  1913     Louise  5
43     AK  F  1914      Agnes  5
44     AK  F  1914     Esther  5
45     AK  F  1914    Frances  5
46     AK  F  1914      Julia  5
47     AK  F  1914    Lillian  5
48     AK  F  1914    Mildred  5
49     AK  F  1914    Pauline  5
61     AK  F  1915      Annie  5
62     AK  F  1915      Clara  5
63     AK  F  1915       Emma  5
64     AK  F  1915      Hazel  5
65     AK  F  1915      Julia  5
66     AK  F  1915      Marie  5
67     AK  F  1915     Minnie  5
68     AK  F  1915    Pauline  5
81     AK  F  1916      Daisy  5
82     AK  F  1916       Edna  5
83     AK  F  1916     Esther  5
84     AK  F  1916     Evelyn  5
85     AK  F  1916   Florence  5
86     AK  F  1916  Katherine  5
...    .. ..   ...        ... ..
27622  WY  M  2016     Josiah  5
27623  WY  M  2016    Killian  5
27624  WY  M  2016    Malachi  5
27625  WY  M  2016   Matthias  5
27626  WY  M  2016  Remington  5
27627  WY  M  2016   Santiago  5
27628  WY  M  2016      Titus  5
27629  WY  M  2016     Tobias  5
27630  WY  M  2016     Trevor  5
27631  WY  M  2016         Ty  5
27754  WY  M  2017       Abel  5
27755  WY  M  2017     Austin  5
27756  WY  M  2017    Brayden  5
27757  WY  M  2017     Bryson  5
27758  WY  M  2017    Charlie  5
27759  WY  M  2017     Declan  5
27760  WY  M  2017      Ellis  5
27761  WY  M  2017     Gunnar  5
27762  WY  M  2017      Jayce  5
27763  WY  M  2017       Juan  5
27764  WY  M  2017      Judah  5
27765  WY  M  2017       Jude  5
27766  WY  M  2017     Kaison  5
27767  WY  M  2017   Kingston  5
27768  WY  M  2017       Lane  5
27769  WY  M  2017     Nathan  5
27770  WY  M  2017     Rayden  5
27771  WY  M  2017   Sterling  5
27772  WY  M  2017    Timothy  5
27773  WY  M  2017     Zander  5

[759368 rows x 5 columns]

# What is the most popular name of all time? (Of either gender.)  It looks like James is the most popular among either genders

In [85]:
combined_data.groupby(3).sum()[4].sort_values(ascending=False).head(1)

3
James    5001762
Name: 4, dtype: int64

In [66]:
data_2013=combined_data[combined_data[2]==2013].rename(columns={0:"State",1:"Gender",2:"Year",3:"Name",4:"Count"})

In [134]:
ratio=1-data_2013.groupby(['Name','Gender'])['Count'].sum()/data_2013.groupby('Name')['Count'].sum()

# What is the most gender ambiguous name in 2013? 1945?

Most ambiguous names in 2013 were more than a couple of them , Arlin ,Cree,Devine ...

In [144]:
ratio[ratio==0.5]

Name    Gender
Arlin   F         0.5
        M         0.5
Cree    F         0.5
        M         0.5
Devine  F         0.5
        M         0.5
Nikita  F         0.5
        M         0.5
Sonam   F         0.5
        M         0.5
Name: Count, dtype: float64

In [145]:
data_1945=combined_data[combined_data[2]==1945].rename(columns={0:"State",1:"Gender",2:"Year",3:"Name",4:"Count"})

In [148]:
ratio2=1-data_1945.groupby(['Name','Gender'])['Count'].sum()/data_1945.groupby('Name')['Count'].sum()

Most gender ambiguous name in 1945 was Maxie

In [149]:
ratio2[ratio2==0.5]

Name   Gender
Maxie  F         0.5
       M         0.5
Name: Count, dtype: float64

# Of the names represented in the data, find the name that has had the largest percentage increase in popularity since 1980. Largest decrease?

In [ ]:
data_1980

# Besides the analysis above, do you discovery any interesting insights from the dataset?  This is an open ended question.

The average lenght of baby names seems to be between 5-6 letters through time. There is a rise in the length of names until ~1990 after which we see a sharp decline up to the present times

An immigration act in 1924 restricted the influx of immigrants - and enforced a quota system for immigrants for different countries.The global depression combined with WW2 saw a decline in immigration and hence the number of new names.

In 1965  Congress passed the Immigration and Nationality Act and since then we see a rapid rise in the number of new names year-on-year!