In [17]:
import glob
import pandas as pd
import os

In [23]:
path='../../../Users/sreek/Documents/wer_ai/namesbystate/'
all_files=glob.glob(os.path.join(path,"*.txt"))

In [24]:
combined_data=pd.concat((pd.read_csv(f,header=None) for f in all_files))

# Please describe the format of the data files. Can you identify any  limitations or distortions of the data?

Data set is comma seperated text files. first column is state , second gender , third year , fourth name and fifth is the count 
of times that name appeared in that state

Count of names in a state appears to be filtered to include only names which appear more than or equal to 5 times , names which 
are rarely used have been filtered out.

In [159]:
combined_data[combined_data[4]<=4]

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

# What is the most popular name of all time? (Of either gender.)  It looks like James is the most popular among either genders

In [85]:
combined_data.groupby(3).sum()[4].sort_values(ascending=False).head(1)

3
James    5001762
Name: 4, dtype: int64

In [66]:
data_2013=combined_data[combined_data[2]==2013].rename(columns={0:"State",1:"Gender",2:"Year",3:"Name",4:"Count"})

In [134]:
ratio=1-data_2013.groupby(['Name','Gender'])['Count'].sum()/data_2013.groupby('Name')['Count'].sum()

# What is the most gender ambiguous name in 2013? 1945?

Most ambiguous names in 2013 were more than a couple of them , Arlin ,Cree,Devine ...

In [144]:
ratio[ratio==0.5]

Name    Gender
Arlin   F         0.5
        M         0.5
Cree    F         0.5
        M         0.5
Devine  F         0.5
        M         0.5
Nikita  F         0.5
        M         0.5
Sonam   F         0.5
        M         0.5
Name: Count, dtype: float64

In [145]:
data_1945=combined_data[combined_data[2]==1945].rename(columns={0:"State",1:"Gender",2:"Year",3:"Name",4:"Count"})

In [148]:
ratio2=1-data_1945.groupby(['Name','Gender'])['Count'].sum()/data_1945.groupby('Name')['Count'].sum()

Most gender ambiguous name in 1945 was Maxie

In [149]:
ratio2[ratio2==0.5]

Name   Gender
Maxie  F         0.5
       M         0.5
Name: Count, dtype: float64

# Of the names represented in the data, find the name that has had the largest percentage increase in popularity since 1980. Largest decrease?

In [150]:
data_1980=combined_data[combined_data[2]==1980].rename(columns={0:"State",1:"Gender",2:"Year",3:"Name",4:"Count"})

In [154]:
Total_1980=sum(data_1980.groupby('Name').sum()['Count'])

In [161]:
percentages_1980=data_1980.groupby('Name').sum()['Count'].sort_values()/Total_1980

In [151]:
data_2017=combined_data[combined_data[2]==2017].rename(columns={0:"State",1:"Gender",2:"Year",3:"Name",4:"Count"})

In [158]:
Total_2017=sum(data_2017.groupby('Name').sum()['Count'])

In [162]:
percentages_2017=data_2017.groupby('Name').sum()['Count'].sort_values()/Total_2017

*This is a naive way to get the calculation . I should have checked whether names in 2017 exists in 1980 and then do this
calculation on the subset.*

In [171]:
(percentages_2017-percentages_1980).sort_values(ascending=False).head(1)

Name
Emma    0.006447
Name: Count, dtype: float64

# Besides the analysis above, do you discovery any interesting insights from the dataset?  This is an open ended question.

The average lenght of baby names seems to be between 5-6 letters through time. There is a rise in the length of names until ~1990 after which we see a sharp decline up to the present times

An immigration act in 1924 restricted the influx of immigrants - and enforced a quota system for immigrants for different countries.The global depression combined with WW2 saw a decline in immigration and hence the number of new names.

In 1965  Congress passed the Immigration and Nationality Act and since then we see a rapid rise in the number of new names year-on-year!