In [14]:
import numpy as np
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt

In [222]:
from sklearn.cluster import DBSCAN,KMeans

In [205]:
c_raw_data=np.array([(1.0, 1.0), (1.5, 2.0), (3.0, 4.0), (5.0, 7.0), (3.5, 5.0), (4.5, 5.0), (3.5, 4.5)])

In [220]:
dbscan_clusters = DBSCAN(eps=2, min_samples=2).fit(c_raw_data)

In [221]:
dbscan_clusters.labels_

array([ 0,  0,  1, -1,  1,  1,  1], dtype=int64)

# K-Means clustering

In [223]:
kmeans_clusters=KMeans(n_clusters=3, random_state=0).fit(c_raw_data)

In [224]:
kmeans_clusters.labels_

array([1, 1, 0, 2, 0, 0, 0])

# B3 ETL

In [280]:
sales_data=pd.read_csv('../../../Users/sreek/Documents/wer_ai/case-studies/sales.csv')
msrp_data=pd.read_csv('../../../Users/sreek/Documents/wer_ai/case-studies/msrp.csv')

In [306]:
print(sales_data.head(5))
print(sales_data.shape)

(155724, 8)

In [410]:
sales_data.head(5)

,Price,Year,Mileage,City,State,Vin,Make,Model
0,7989,2012,105246,Miami,FL,JH4CU2F83CC019895,Acura,TSXAutomatic
1,13999,2013,35035,Santa Ana,CA,JH4CU2F4XDC000369,Acura,TSX5-Speed
2,14590,2010,19250,Clearwater,FL,JH4CU2F6XAC041680,Acura,TSX4dr
3,9500,2011,68289,Arcadia,FL,JH4CU2F62BC007928,Acura,TSX4dr
4,16994,2015,23946,St. Augustine,FL,19VDE1F32FE000651,Acura,ILX5-Speed

In [351]:
grouped_sales=sales_data.groupby(['Make','Model','Year'])

Grouped sales data by make model year as requested. Attached resulting csv file for reference

In [353]:
(grouped_sales.Price.apply(lambda x: x.nlargest(3)).reset_index().drop('level_3',axis=1)).to_csv('Top_sales_by_MMY.csv')

In [386]:
grouped_make=sales_data.groupby('Make')

Grouped sales data by make as per request , find highest # number of sales by model

In [404]:
grouped_make.Model.apply(lambda x :x.value_counts().nlargest(1))

Make
AM             General              5
Acura          MDXFWD             234
Alfa           Romeo                9
Aston          Martin              43
Audi           A42.0T             261
BMW            3                 3306
Bentley        Continental         92
Buick          EnclaveLeather     373
Cadillac       CTS                398
Chevrolet      Silverado         3111
Chrysler       Town               589
Dodge          Grand              900
FIAT           500Pop             124
Ferrari        458                 25
Fisker         Karma4dr             6
Ford           FusionSE           971
Freightliner   Sprinter             1
GMC            Sierra            1374
Genesis        G803.8L             22
HUMMER         H24dr               43
Honda          Accord            2915
Hyundai        Santa             1392
INFINITI       G37                424
Isuzu          Ascender4dr          5
Jaguar         XJ4dr               52
Jeep           Grand             1244
Kia            OptimaLX           880
Lamborghini    HuracanLP           10
Land           Rover              877
Lexus          IS                 952
Lincoln        MKZFWD             129
Lotus          Elise2dr             4
MINI           Cooper            1244
Maserati       GhibliGhibli       127
Maybach        574dr                2
Mazda          Mazda3i            559
McLaren        675LT2dr             5
Mercedes-Benz  E-ClassE350        630
Mercury        Grand               46
Mitsubishi     Outlander          162
Nissan         Altima2.5         2200
Oldsmobile     Silhouette4dr        1
Plymouth       Prowler2dr           5
Pontiac        G64dr               31
Porsche        CayenneAWD         115
Ram            1500SLT            360
Rolls-Royce    WraithCoupe         12
Saab           9-32dr              16
Saturn         VUEFWD              21
Scion          xB5dr              140
Subaru         Impreza            407
Suzuki         Grand                9
Tesla          Model               51
Toyota         CamrySE           1376
Volkswagen     Jetta             1814
Volvo          XC60T5             157
smart          fortwo              31
dtype: int64

In [409]:
msrp_data.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [419]:
msrp_data.shape

(11914, 16)

Some of the sales data does not have msrp in the data provided. By dafault when merged it caused resulting sales data to be ommited. Can change this but would like to do what would constitute a good guess

In [425]:
merged_data=pd.merge(sales_data,msrp_data,on=['Make','Model','Year'])